* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(204, 204, 204, 0.342);
}

.time-item {
    width: 430px;
    height: 45px;
    margin: 0 auto;
}

.time-item strong {
    background: orange;
    color: #fff;
    line-height: 49px;
    font-size: 36px;
    font-family: Arial;
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.time-item>span {
    float: left;
    line-height: 49px;
    color: orange;
    font-size: 32px;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    width: 260px;
    height: 50px;
    margin: 200px auto 50px auto;
}